{# Custom template for the news view fields #}

<article class="news-article">
  <h1>{{ fields.title.content }}</h1>
  <h2>{{ fields.field_subtitle.content }}</h2>

  <div class="news-images">
    {{ fields.field_images.content }}
  </div>

  <div class="news-body">
    {{ fields.body.content }}
  </div>
</article>
